spring:
  application:
    name: ShopPricer
  datasource:
    url: jdbc:postgresql://localhost:5432/mydatabase
    username: postgres
    password: yourpassword
    driver-class-name: org.postgresql.Driver
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  logging:
    level:
      org.springframework.web: DEBUG
